button {
  width: 250px;
  height: 80px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: white;
  border: 2px solid white;
  border-radius: 15px;
  margin: 5px;
  cursor: pointer;
}

button:hover {
  background-color: yellowgreen;
}

.Suma {
  background-color: blue;
}

.Resta {
  background-color: goldenrod;
}

.Reinicio {
  background-color: brown;
}

.Asignacion {
  background-color: purple;
}