*{
  padding: 0;
  box-sizing: border-box;
  background-color: pink;
}

.App{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  font-family: 'Courier New', Courier, monospace;
}

.contenedor{
  height: 550px;
  min-width: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.botones{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

h1{
  width: 100%;
  text-align: center;
}

input {
  width: 250px;
  height: 40px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: black; /* Color del texto en negro */
  border: 2px solid black;
  border-radius: 15px;
  margin: 5px;
  padding: 5px;
  box-sizing: border-box;
}

input:focus {
  outline: none;
  border-color: blue; /* Cambia el color del borde al enfocar el input */
}