*{
  padding: 0;
  box-sizing: border-box;
  background-color: gray;
}

.App{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  font-family: 'Courier New', Courier, monospace;
}

.contenedor{
  height: 550px;
  min-width: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.botones{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

h1{
  width: 100%;
  text-align: center;
}